<div class="item"> <img src="/img/dino.png" alt=""> 
    <div class="item-text">
        <p class="inter-regular">Dinosaurio robot para armar</p>
        <p class="final desktop"><del>$2.390</del> </p>
        <p class="final desktop"><strong>$1.269</strong></p>
    </div>
   
</div>
<div class="item"> <img src="/img/dino.png" alt=""> 
    <div class="item-text">
        <p class="inter-regular">Dinosaurio robot para armar</p>
        <p class="final desktop"><del>$2.390</del> </p>
        <p class="final desktop"><strong>$1.269</strong></p>
    </div>
</div>
<div class="item"> <img src="/img/mochila.png" alt=""> 
    <div class="item-text">
        <p class="inter-regular"> Mochila de ToyStory Dinosaurio REX </p>
        <p class="final desktop"><strong class="dark">$1.269</strong></p>
    </div></div>
<div class="item"> <img src="/img/mochila.png" alt=""> 
    <div class="item-text">
        <p class="inter-regular"> Mochila de ToyStory Dinosaurio REX </p>
        
        <p class="final desktop"><strong class="dark">$1.269</strong></p>
    </div></div>
<div class="item"> <img src="/img/dino.png" alt=""> 
    <div class="item-text">
        <p class="inter-regular">Dinosaurio robot para armar</p>
        <p class="final desktop"><del>$2.390</del> </p>
        <p class="final desktop"><strong>$1.269</strong></p>
    </div></div>
